<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8f936a08-3b45-45e6-a2ad-518e92ef4e96/resourcegroups/Aplicacoes/providers/Microsoft.Web/sites/projeto-tu</ResourceId>
    <ResourceGroup>Aplicacoes</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projeto-tu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>projeto-tu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>projeto-tu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$projeto-tu</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbContextTU" Order="1" Enabled="True">
          <Destination Path="Data Source=estudosluanserver.database.windows.net;Initial Catalog=projetotu-db;Persist Security Info=True;User ID=luangrezende;Password=Luangomes1369" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DATABASE.DbContextTU, DATABASE" MigrationConfiguration="DATABASE.Migrations.Configuration, DATABASE" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DbContextTU-Web.config Connection String">
      <ParameterValue>Data Source=estudosluanserver.database.windows.net;Initial Catalog=projetotu-db;Persist Security Info=True;User ID=luangrezende;Password=Luangomes1369</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>