@model DATABASE.Models.Agendamentos

@{
    Layout = null;
}

<div class="modal fade" id="modalOpc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Informações do agendamento</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <h4>Empresa:</h4>
                        <span>@Model.UsuariosColeta.nome</span>
                    </div>
                    <div class="col-lg-4 form-group">
                        <h4>CNPJ:</h4>
                        <span>@Model.UsuariosColeta.CPF</span>
                    </div>
                    <div class="col-lg-4 form-group">
                        <h4>Contato:</h4>
                        <span><i class="fa fa-phone"></i> (13)3228-0939</span>
                    </div>
                    <div class="col-lg-12 form-group">
                        <h4>Endereço:</h4>
                        <span>@Model.UsuariosColeta.Enderecos.Where(e => e.idStatus == 1).FirstOrDefault().rua</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>