@model List<DATABASE.Models.Usuarios>
@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>Endereços</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var md in Model)
        {
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de endereços </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>